<!DOCTYPE html>
<html lang="PT">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
        <div id="header">
          <img src="{{ url_for('static', filename='imagens/logoPI.png') }}" alt="Logo" class="logo">
            <nav id="nav">
                <!-- Button to open and close the menu -->
                <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu
                    <span id="hamburger"></span>
                </button>
                <!-- List of site links -->
                <ul id="menu" role="menu">
                    <li> <a href="{{ url_for('login') }}">Login</a> </li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <h1>Cadastro de Usuário</h1>
            <!-- Formulário para cadastro -->
        <form id="cadastroForm">
          <div class="form-group">
              <label for="nome">Nome Completo</label>
              <input type="text" id="nome" name="nome" required>
              <span class="error" id="nomeError"></span>
          </div>
          <div class="form-group">
              <label for="matricula">Matrícula</label>
              <input type="text" id="matricula" name="matricula" required>
              <span class="error" id="matriculaError"></span>
          </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" required>
              <span class="error" id="emailError"></span>
          </div>
          <div class="form-group">
              <label for="senha">Senha</label>
              <input type="password" id="senha" name="senha" required>
              <span class="error" id="senhaError"></span>
          </div>
          <div class="form-group">
              <label for="confirmarSenha">Confirmar Senha</label>
              <input type="password" id="confirmarSenha" name="confirmarSenha" required>
              <span class="error" id="confirmarSenhaError"></span>
          </div>
          <button type="submit" id="buttonForm">Cadastrar</button>
      </form>
        </div>
    </header>
    <!-- Modal de Confirmação -->
    <div id="modal" style="display: none;" class="modal-overlay">
        <div class="modal-box">
            <span class="close" onclick="fecharModal()">&times;</span>
            <p>Cadastro realizado com sucesso!</p>
            <button onclick="confirmarEnvio()">OK</button>
        </div>
    </div>

    <footer>
        <div class="imagens">
          <div class="grupo1">
            <h3>Selo de Segurança</h3>
            <hr style="background-image: linear-gradient(to right, rgb(50, 188, 175), rgb(203, 203, 207)); height: 2px; border: none;">
            <img src="{{ url_for('static', filename='imagens/Frame 128.png') }}" alt="Selo de Segurança">
          </div>
        </div>
      </footer>
    
    <script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    
  </body>
</html>
