<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Reclamações</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

  <!-- Cabeçalho -->
  <header>
    <div id="header">
      <img src="{{ url_for('static', filename='imagens/logoPI.png') }}" alt="Logo" class="logo">
      <nav id="nav">
        <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
          Menu <span id="hamburger"></span>
        </button>
        <ul id="menu" role="menu">
          <li><a href="{{ url_for('acesso') }}">Home</a></li>
          <li><a href="{{ url_for('estoque_fisico') }}">Estoque Físico</a></li>
          <li><a href="{{ url_for('estoque_devolucao') }}">Devoluções</a></li>
          <li><a href="{{ url_for('descarte') }}">Descartes</a></li>
          <li>
            
            <a href="{{ url_for('home') }}" title="Sair" style="display: inline-flex; align-items: center; gap: 8px; text-decoration: none; color: rgb(153, 140, 21); font-family: Arial, sans-serif; font-size: 16px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="rgb(153, 140, 21)">
                <path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59z"/>
                <path d="M20 3H12c-1.1 0-2 .9-2 2v4h2V5h8v14h-8v-4h-2v4c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
              </svg>
              <span>Sair</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Conteúdo principal -->
  <div class="container6">
    <h1>Gráfico de Reclamações por Motivo</h1>
    <canvas id="reclamacoesChart"
    data-labels='{{ labels|tojson }}'
    data-valores='{{ valores|tojson }}'>
    </canvas>
    </canvas>
  </div>

  <!-- Rodapé -->
  <footer>
    <div class="imagens">
      <div class="grupo1">
        <h3>Selo de Segurança</h3>
        <hr style="background-image: linear-gradient(to right, rgb(50, 188, 175), rgb(203, 203, 207)); height: 2px; border: none;">
        <img src="{{ url_for('static', filename='imagens/Frame 128.png') }}" alt="Selo de Segurança">
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/reclamacoes.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
